body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

h2 {
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}

.error {
  color: red;
  font-size: 12px;
}

button {
  width: 107%;
  padding: 10px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background: gray;
}
.footer {
  position: relative;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  position: absolute;
  bottom: 0;
}
